.icon{
    margin-left: 20px;
}
.name-style{
    display: flex;
    align-items: center;
    justify-content: center;
}
.manage-post{
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

